<gridster class="gridster" [options]="options">
    <gridster-item [item]="question" *ngFor="let question of questions">
        <div class="default-color {{question?.color}}" (click)="changeColor(question)"></div>
        <p>
            <span class="name">{{question?.name}} <span class="surname">{{question?.surname}}</span></span>
            {{question?.content}}
        </p>
    </gridster-item>

    <div class="loader" *ngIf="loader">
        <md-progress-circle
                class="example-margin"
                color="warn"
                mode="indeterminate"
        >
        </md-progress-circle>
    </div>
</gridster>

<!--<gridStack w="12" animate="true">-->
    <!--<div gridStackItem *ngFor="let question of questions"-->
         <!--[x]="question?.x" [y]="question?.y" [h]="2" [w]="4" [customid]="10">-->
        <!--<div class="default-color {{question?.color}}" (click)="changeColor(question)"></div>-->
        <!--<p>-->
            <!--<span class="name">{{question?.name}}-->
                <!--<span class="surname">{{question?.surname}}</span>-->
            <!--</span>-->
            <!--{{question?.content}}-->
        <!--</p>-->
    <!--</div>-->
<!--</gridStack>-->

<!--<gridStack w="12" animate="true"-->
           <!--buttonClass="btn btn-default"-->
           <!--allowEditing="true"-->
           <!--[options]="options"-->
           <!--[items]="questions"-->
           <!--&lt;!&ndash;(addFunction)="addCard()"&ndash;&gt;-->
           <!--&lt;!&ndash;(saveFunction)="save($event)"&ndash;&gt;-->
           <!--&lt;!&ndash;(deleteFunction)="deletePanel()"&ndash;&gt;-->
           <!--&lt;!&ndash;(deleteCardFunc)="deleteCard($event)">&ndash;&gt;-->
<!--&gt;-->
<!--</gridStack>-->

<!--<gridster [options]="gridsterConfig" [draggableOptions]="{ handlerClass: 'panel-heading' }">-->
    <!--<gridster-item *ngFor="let question of widgets" [x]="question.x" [y]="question.y" [w]="4" [h]="2">-->
        <!--&lt;!&ndash;<div class="default-color {{question?.color}}" (click)="changeColor(question)"></div>&ndash;&gt;-->
        <!--&lt;!&ndash;<p>&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="name">{{question?.name}} <span class="surname">{{question?.surname}}</span></span>&ndash;&gt;-->
            <!--&lt;!&ndash;{{question?.content}}&ndash;&gt;-->
        <!--&lt;!&ndash;</p>&ndash;&gt;-->
    <!--</gridster-item>-->
<!--</gridster>-->